@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.navbar {
    /* height: 400px; */
    width: 100%;
}

.head1 {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.link {
    display: flex;
    /* justify-content: space-around; */
}
.title{
    font-size: larger;
    font-weight: bolder;
    font-family: elephant;
    background-color:rgb(145, 199, 181);
    display: flex;
    align-items: center;
    justify-content: center;
}

#links {
    color: black;
    gap: 10px;
    display: flex;
    /* align-items: center; */
    align-items: baseline;
    justify-content: space-evenly;
    list-style: none;
    font-family: elephant;
    font-weight: lighter;
    li:hover {
        text-decoration: none;
        color: darkblue;
        opacity: 0.5;
    }

    a {
        text-decoration: none;
    }
    
}
#logo{
    border-radius: 50%;
    background-color: #1fc1ac;
    object-fit: cover;
    height: fit-content;
    
}
button {
    color: #f4f4f4;
    background-color: #1fc1ac;
    border-radius: 10px;
    outline: none;
    border: none;
    gap: 5px;
    padding: 5px 8px;
    font-size: clamp(.9rem,4vw,1.3rem);
    
}
.buttons{
    height: 400px;
    width: 50%;
    background: linear-gradient(to top right,
            rgb(48, 120, 125),
            rgb(84, 158, 168),
            rgb(96, 195, 212));
    /* align-items: center; */
    text-align: center;
    #image{
        /* display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center; */
        display: flex;
        /* align-items: center; */
        margin: auto;
        height: 300px;
        width: 250px;
        object-fit: cover;
        /* margin: 10px; */
        border-radius: 5px;
    }
}
