body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

  .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  .left-side {
    flex-basis: 300px;
    padding: 20px;
    background-color: #34495e;
    color: #fff;
    height: 400px; 
  }

  .right-side {
    flex: 1;
    padding: 20px;
  }

  .navbar {
    text-align: center;
    margin-bottom: 20px;
  }

  .navbar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .doctor-info {
    margin-bottom: 20px;
  }

  .doctor-info h2 {
    margin: 5px 0;
  }

  .doctor-info p {
    margin: 5px 0;
  }

  .profile-image-box {
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .profile-image-box input[type="file"] {
    display: none;
  }

  .profile-image-box label {
    display: block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .profile-image-box label:hover {
    background-color: #2980b9;
  }

  .form-box {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .form-box h2 {
    margin-top: 0;
    color: #2c3e50;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #2c3e50;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: calc(100% - 40px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .form-group textarea {
    height: 100px;
    resize: none;
  }

  .form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form-group input[type="submit"]:hover {
    background-color: #2980b9;
  }