body {
    background-color: #f4f4f4;
  }
  *{
    margin: 0;
    padding: 0;
  }
  .my-container{
    height: 10vh;
    width: 90%;
  }

  .image{
    width: 100px;
    height: 100px;
  }
  .image img{
    width: 95%;
    height: 95%;
    object-fit: contain;
    object-position: top;
  }