.container h1{
    color: var(--primary-text-color);
}
.cards {
	white-space: nowrap;
	overflow: auto;
    border-radius: 10px;
}
.card {
	height: 65vh;
	background-color: var(--secondary-bg-color);
	color: var(--primary-text-color);
	border: 1px solid red;

}
.card-body h5,.card-body p{
    pointer-events: none;
}
.card-body{
	height: 45%;

	border: 1px solid red;
}
.card-body p{
	line-height: .5rem;
}
.card img {
	height: 55%;
	object-fit: cover;
	object-position: top;
}
.card-text {
	white-space: wrap;
}
