<link rel="stylesheet" href="/stylesheets/docDashboard.css">

<div class="left realtive">
    <div class="navbar flex gap-1">
        <div class="image">
            <img src="sweta img.jpg">
        </div>
        <div class="data">
            <h2 class="text-basic"> SWETA KUMARI </h2>
            <p class="text-sm opacity-6"> sweta@gmail.com</p>
        </div>
    </div>

    <div class="items p-3 flex flex-col gap-4">
        <div class="links flex items-center gap-2">
            <span class="material-symbols-outlined">
                home
            </span>
            <a href="#">Home</a>
        </div>
        <div class="links flex items-center gap-2">
            <span class="material-symbols-outlined">
                bookmark
            </span>
            <a href="#">My Bookings</a>
        </div>
        <div class="links flex items-center gap-2">
            <span class="material-symbols-outlined">
                calendar_add_on
            </span>
            <a href="#">Sessions Info</a>
        </div>
    </div>


    <div class="footer absolute">
        <button id="logout" class="btn btn-danger flex gap-1" onclick="logout()"> Log out <span
                class="material-symbols-outlined">
                logout
            </span></button>
    </div>
</div>