<link rel="stylesheet" href="/stylesheets/docDashboard.css">

<div class="left relative">
    <div class="navbar flex ">
        <div class="image">
            <img src="<%=doctors.image %>">
        </div>
        <div class="data">
            <h2 class="text-basic">
                <%=doctors.name %>
            </h2>
            <p class="text-sm opacity-6">
                <%=doctors.email %>
            </p>
        </div>
    </div>

    <div class="items p-3 flex flex-col gap-4">
        <div class="links flex items-center gap-2">
            <span class="material-symbols-outlined">
                home
            </span>
            <a href="/admin">Home</a>
        </div>
        <div class="links flex items-center gap-2">
            <span class="material-symbols-outlined">
                diversity_1
            </span>
            <a href="#">All paitent</a>
        </div>
        <div class="links flex items-center gap-2">
            <span class="material-symbols-outlined">
                calendar_add_on
            </span>
            <a href="#">Sessions Info</a>
        </div>
    </div>


    <div class="footer absolute">
        <button id="logout" class="btn btn-danger flex gap-1" onclick="logout()"> Log out <span
                class="material-symbols-outlined">
                logout
            </span></button>
    </div>
</div>