<div id="toast-div" class="fixed z-100">

</div>


<script>
    function deleteParent(element) {
        var parent = element.closest('.my-toast');
        parent.parentNode.removeChild(parent);
    }
    let c = 0
    function ShowToast(error, type) {
        var parent = document.getElementById('toast-div');
        parent.style.display = "block"
        let toast = document.createElement("div")
        toast.style.opacity = "1"
        toast.innerHTML = ` <div class="my-toast rounded-2 bg-${type} text-${type} p-2 my-1 py-1 border border-${type} bg-opacity-25 flex gap-2 items-center">
${error}
<span class="material-symbols-outlined text-lg" onclick="deleteParent(this)">
    disabled_by_default
    </span>
</div>`
        parent.appendChild(toast)
        setTimeout(() => {
            parent.removeChild(toast)
        }, 4000 + c * 1000);
        c += 1
    }
</script>