<link rel="stylesheet" href="/stylesheets/usersDashboardNav.css">


<nav class="sidebar">
    <div class="logo flex items-center justify-around">
        <div class="image">
            <img src="image.png">
        </div>
        <h3> MIND PEACE </h3>
    </div>
    <div class="upper flex flex-col items-center gap-1 realtive">
       <input type="file" class="">
        <img src="sweta img.jpeg">
        <h2> Sharmila Thakur </h2>
    </div>
    <div class="lower flex flex-col gap-2">
        <a href="#">Feedback</a>
        <a href="#" onclick="logout()" class="flex items-center gap-1">Logout <span class="material-symbols-outlined">
            logout
            </span></a>
    </div>
</nav>