<link rel="stylesheet" href="/stylesheets/usersDashboardNav.css">


<nav class="sidebar">
    <div class="logo flex items-center justify-around">
        <div class="image">
            <img src="/images/logo.png">
        </div>
        <h3 class="text-md"> MIND PEACE </h3>
    </div>
    <div class="upper flex flex-col items-center gap-1 realtive">
       <input type="file" name="image" id="image" class="">
        <img src="<%=user.image??"/images/default_user.png" %>">
        <h2 class="text-capitalize text-lg text-center"> <%=user.fullname %> </h2>
    </div>
    <div class="lower flex flex-col gap-4">
        <a href="#" class="flex items-center gap-1 text-basic"><span class="material-symbols-outlined">
            clinical_notes
            </span> Consult Theripst</a>
        <a href="#" class="flex items-center gap-1 text-basic"><span class="material-symbols-outlined">
            communication
            </span> Feedback</a>
        <a href="#" onclick="logout()" class="flex items-center gap-1 text-basic"> <span class="material-symbols-outlined">
            logout
            </span> Logout</a>
    </div>
</nav>