<% include ./partials/header.ejs %>

    <link rel="stylesheet" href="/stylesheets/doctorpage.css">

    <body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid realtive">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex items-center">
                        <li class="nav-item relative">
                            <a class="nav-link image left-0">
                                <img src="/images/logo.png" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/doctorspage">therapists</a>
                        </li>
                    </ul>
                    <form class="flex items-center" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success"><i class='bx bx-search text-md'></i></button>
                    </form>
                </div>
            </div>
        </nav>
        <header>
            add a nav bar => contains a search bar in middle

            a hero section freatures some random doctor by swiper js

            **in main show doctors by catagorywise like flipkart**
        </header>
        <main>
            <div class="heading">
                <h1 class="">hlw</h1>
            </div>
            <div class="contents flex justify-between flex-wrap">


                <div class="container">
                    <img src="./mdoctor2.jpg" alt="Doctor Image" class="doctor-image">
                    <h1 class="doctor-name">Dr. John Doe</h1>
                    <h2 class="doctor-specialty">Social Psychology</h2>
                    <div class="doctor-details">
                        <div class="doctor-detail">
                            <label for="degree">Degree</label>
                            <span id="degree">: MD(Doctor of Mmedicine) in Psychiatry</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="experience">Experience</label>
                            <span id="experience">:10 years</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="hospital">Hospital</label>
                            <span id="hospital">:Maytri Hospital</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="timings">Timings</label>
                            <span id="timings">:9am-5pm</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="fees">Fees</label>
                            <span id="fees">:$100 per consultation</span>
                        </div>
                    </div>
                    <button id="book-appointment">Book Appointment</button>
                </div>

                <div class="container">
                    <img src="./mdoctor5.jpg" alt="Doctor Image" class="doctor-image">
                    <h1 class="doctor-name">Dr. Khush Gupta </h1>
                    <h2 class="doctor-specialty">Psychiatrist</h2>
                    <div class="doctor-details">
                        <div class="doctor-detail">
                            <label for="degree">Degree:</label>
                            <span id="degree">DNB(Diplomate of National Board) in Psychiatry</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="experience">Experience:</label>
                            <span id="experience">15 years</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="hospital">Hospital:</label>
                            <span id="hospital">DSP Main Hospital</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="timings">Timings:</label>
                            <span id="timings">9am-5pm</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="fees">Fees:</label>
                            <span id="fees">$150 per consultation</span>
                        </div>
                    </div>
                    <button id="book-appointment">Book Appointment</button>
                </div>

                <div class="container">
                    <img src="./fdoctor1.jpg" alt="Doctor Image" class="doctor-image">
                    <h1 class="doctor-name">Dr. Sweta Kumari</h1>
                    <h2 class="doctor-specialty">Clinical Psychology</h2>
                    <div class="doctor-details">
                        <div class="doctor-detail">
                            <label for="degree">Degree:</label>
                            <span id="degree"> PhD(Doctor of Philosophy)</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="experience">Experience:</label>
                            <span id="experience">8 years</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="hospital">Hospital:</label>
                            <span id="hospital">Health Hospital</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="timings">Timings:</label>
                            <span id="timings">9am-5pm</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="fees">Fees:</label>
                            <span id="fees">$150 per consultation</span>
                        </div>
                    </div>
                    <button id="book-appointment">Book Appointment</button>
                </div>

                <div class="container">
                    <img src="./mdoctor17.jpg" alt="Doctor Image" class="doctor-image">
                    <h1 class="doctor-name">Dr. Rachel Adams</h1>
                    <h2 class="doctor-specialty">Trauma Therapy</h2>
                    <div class="doctor-details">
                        <div class="doctor-detail">
                            <label for="degree">Degree:</label>
                            <span id="degree">PhD(Doctor of Philosophy)</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="experience">Experience:</label>
                            <span id="experience">15 years</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="hospital">Hospital:</label>
                            <span id="hospital"> Healing Horizons Hospital</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="timings">Timings:</label>
                            <span id="timings">9am-5pm</span>
                        </div>
                        <div class="doctor-detail">
                            <label for="fees">Fees:</label>
                            <span id="fees">$150 per consultation</span>
                        </div>
                    </div>
                    <button id="book-appointment">Book Appointment</button>
                </div>
            </div>
        </main>
        <script>
            document.getElementById("book-appointment").addEventListener("click", function () {
                alert("Appointment booked successfully!");
            });
        </script>

        <% include ./partials/footer.ejs %>