<% include ./partials/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/doctordashboard.css">
    <style>
        .rounded-4 {
            overflow: hidden;
        }

        .table-div {
            overflow: auto;
            height: 95vh !important;
        }
    </style>

    <body>
        <% include ./partials/toast.ejs %>

            <main class="flex gap-1">
                <% include ./partials/doctorsnavbar.ejs %>

                    <section class="pt-3">
                        <h2 class="text-lg">Edit Profile</h2>
                        NOTE:Add the form right here
                        
                    </section>




            </main>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
            <script src="/javascripts/doctorDashboard.js"></script>
            <% include ./partials/footer.ejs %>