<% include ./partials/header.ejs %>
    <style>
        main {
            height: 100vh !important;
            color: var(--primary-text-color);
            overflow: hidden;
        }

        section>div>div>div>div {
            background-color: var(--secondary-bg-color);
            border-radius: 10px;
        }

        .text-center {
            color: var(--primary-text-color);
        }

        form {
            color: var(--primary-text-color);
        }

        .bg {
            width: 480px;
            margin: 0 auto;
            box-sizing: border-box;
            padding: 40px;
            font-family: 'Roboto';
        }

        .card {
            background-color: var(--secondary-bg-color);
            width: 100%;
            float: left;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 80px 30px 25px 30px;
            text-align: center;
            position: relative;
            color: var(--primary-text-color);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

        .card__success {
            position: absolute;
            top: -50px;
            left: 145px;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: #60c878;
            border: 5px solid white;
        }

        .card__success i {
            color: var(--primary-text-color);

            line-height: 100px;
            font-size: 45px;
        }

        .card__msg {
            text-transform: uppercase;
            color: var(--primary-text-color);

            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;
        }

        .card__submsg {
            color: #959a9e;
            font-size: 16px;
            font-weight: 400;
            margin-top: 0px;
        }

        .card__body {
            background-color: var(--primary-bg-color);
            color: var(--primary-text-color);
            border-radius: 4px;
            width: 100%;
            margin-top: 30px;
            float: left;
            box-sizing: border-box;
            padding: 30px;
        }

        .card__avatar {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: 7px;
        }

        .card__recipient-info {
            display: inline-block;
            background-color: var(--primary-bg-color);
        }

        .card__recipient {
            color: var(--primary-text-color);

            text-align: left;
            margin-bottom: 5px;
            font-weight: 600;
        }

        .card__email {
            color: var(--primary-text-color);

            text-align: left;
            margin-top: 0px;
        }

        .card__price {
            color: var(--primary-text-color);
            opacity: .8;
            font-size: 70px;
            margin-top: 25px;
            margin-bottom: 30px;
        }

        .card__price span {
            font-size: 60%;
        }

        .card__method {
            color: var(--primary-text-color);

            text-transform: uppercase;
            text-align: left;
            font-size: 11px;
            margin-bottom: 5px;
        }

        .card__payment {
            background-color: var(--secondary-bg-color);
            border-radius: 4px;
            width: 100%;
            height: 100px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card__credit-card {
            width: 50px;
            display: inline-block;
            margin-right: 15px;
        }

        .card__card-details {
            display: inline-block;
            text-align: left;
        }

        .card__card-type {
            text-transform: uppercase;
            color: #232528;
            font-weight: 600;
            font-size: 12px;
            margin-bottom: 3px;
        }

        .card__card-number {
            color: var(--primary-text-color);
            font-size: 12px;
            margin-top: 0px;
        }

        .card__tags {
            clear: both;
            padding-top: 15px;
        }

        .card__tag {
            text-transform: uppercase;
            background-color: var(--primary-bg-color);
            box-sizing: border-box;
            padding: 3px 5px;
            border-radius: 3px;
            font-size: 10px;
            color: var(--primary-text-color);

        }
    </style>

    <body>
        <main class="flex items-center justify-center p-0">
            <% include ./partials/toast.ejs %>
                <a href="/users" class="btn btn-info absolute top-0 start-0 m-4 flex items-center"> <i
                        class='bx bx-arrow-back' style='color:#ffffff'></i> Back to home</a>
                <section class="p-4 p-md-5 w-full" id="section">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-5">
                            <div class="card2 rounded-3">
                                <div class="card-body2 p-4">
                                    <div class="text-center mb-4">
                                        <h3>Settings</h3>
                                        <h6>Payment</h6>
                                    </div>
                                    <form id="payment-form" class="text-left">
                                        <p class="fw-bold mb-4 pb-2 text-left">Saved cards:</p>

                                        <div class="d-flex flex-row align-items-center mb-4 pb-1">
                                            <img class="img-fluid"
                                                src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
                                            <div class="flex-fill mx-3">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="text" id="formControlLgXc"
                                                        class="form-control form-control-lg" value="**** **** **** 3193"
                                                        required />
                                                    <label class="form-label" for="formControlLgXc">Card Number</label>
                                                </div>
                                            </div>
                                            <a href="#!">Remove card</a>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4 pb-1">
                                            <img class="img-fluid"
                                                src="https://img.icons8.com/color/48/000000/visa.png" />
                                            <div class="flex-fill mx-3">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="text" id="formControlLgXs"
                                                        class="form-control form-control-lg" value="**** **** **** 4296"
                                                        required />
                                                    <label class="form-label" for="formControlLgXs">Card Number</label>
                                                </div>
                                            </div>
                                            <a href="#!">Remove card</a>
                                        </div>

                                        <p class="fw-bold mb-4">Add new card:</p>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="text" id="formControlLgXsd"
                                                class="form-control form-control-lg" value="Verugopal Iyer" required />
                                            <label class="form-label" for="formControlLgXsd">Cardholder's Name</label>
                                        </div>

                                        <div class="row mb-4">
                                            <div class="col-6 p-0">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="text" id="formControlLgXM"
                                                        class="form-control form-control-lg" value="1234 5678 1234 5678"
                                                        required />
                                                    <label class="form-label" for="formControlLgXM">Card Number</label>
                                                </div>
                                            </div>
                                            <div class="col-3 px-1">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="password" id="formControlLgExpk"
                                                        class="form-control form-control-lg" placeholder="MM/YYYY"
                                                        required />
                                                    <label class="form-label" for="formControlLgExpk">Expire</label>
                                                </div>
                                            </div>
                                            <div class="col-3 p-0">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="password" id="formControlLgcvv"
                                                        class="form-control form-control-lg" placeholder="Cvv"
                                                        required />
                                                    <label class="form-label" for="formControlLgcvv">Cvv</label>
                                                </div>
                                            </div>
                                        </div>
                                        <button data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-success btn-lg btn-block">Add card</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

        </main>
        <script>
            const data = JSON.parse(localStorage.getItem('data'));
            console.log(data);
            document.getElementById("payment-form").addEventListener("submit", function (e) {
                e.preventDefault();
                const success = `  <div class="bg">
                        <div class="card">
                            <span class="card__success flex items-center justify-center"><i
                                    class='bx bx-check'></i></span>
                            <h1 class="card__msg">Payment Complete</h1>
                            <h2 class="card__submsg">Thank you for your transfer</h2>
                            <div class="card__body">
                                <img src="http://nathgreen.co.uk/assets/img/nath.jpg" class="card__avatar">
                                <div class="card__recipient-info">
                                    <p class="card__recipient">${data.fullname}</p>
                                    <a href="/users" class="btn btn-info flex items-center"> <i
                        class='bx bx-arrow-back' style='color:#ffffff'></i> Back to home</a>
                                </div>
                                <h1 class="card__price"><span>£</span>20<span>.00</span></h1>
                                <p class="card__method">Payment method</p>
                                <div class="card__payment">
                                    <img src="https://seeklogo.com/images/V/VISA-logo-F3440F512B-seeklogo.com.png"
                                        class="card__credit-card">
                                    <div class="card__card-details">
                                        <p class="card__card-type">Credit / debit card</p>
                                        <p class="card__card-number">Visa ending in **89</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card__tags">
                                <span class="card__tag">completed</span>
                                <span class="card__tag">#123456789</span>
                            </div>
                        </div>
                    </div>`
                axios.post('/users/new-appointment', data)
                .then((response) => {
                    document.querySelector("#section").innerHTML = success
                    ShowToast("Your appointment has been booked!", "success")
                    localStorage.clear()
                }).catch((error) => {
                    ShowToast(error.response.data, "danger")
                });
            })

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <% include ./partials/footer.ejs %>