<% include ./partials/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/doctordashboard.css">
    <style>
        .rounded-4 {
            overflow: hidden;
        }

        .table-div {
            overflow: auto;
            height: 95vh !important;
        }
    </style>

    <body>
        <% include ./partials/toast.ejs %>

            <main class="flex gap-1">
                <% include ./partials/doctorsnavbar.ejs %>

                    <section class="pt-3">
                        <h2 class="text-lg">Tomorrow's Session</h2>
                        <div class="table-div w-full h-full scrollbar">

                            <div class="rounded-4">
                                <table class="table table-striped table-hover table-dark rounded-3 m-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Acion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </section>




            </main>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
            <script src="/javascripts/doctorDashboard.js"></script>
            <% include ./partials/footer.ejs %>