
.item{
    background-color: #252525;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0,.8);
    margin-top: 1rem;
    min-width: 150px;
}
.item h4,.item p{
    margin: 0;
}
.right-side{
    max-width: 60%;
    color: #f4f4f4;
}
.left-side {
    padding: clamp(.5rem,.15rem + 2vw,1.4rem);
    width: 40%;
    min-width: 250PX;
}
.left-side .box{
    width: 100%;
    min-height: 150px;
    background-color: #108ADF;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .9);
    margin-bottom: 1rem;
}
.top-appointment{
    background-color: #252525;
    border-radius: 12px;
    overflow: hidden;
    color: #f4f4f4;
    padding: 0.8rem;
}
.top-appointment h1{
    line-height: 2.4rem;
}
.table-div{
    margin-top: 0.5rem;
}
.table-div table{
    height: 100%;
    margin-bottom: 0;
}
.mySwiper{
    height: 50vh;
}
.swiper{
    background-color: var(--secondary-bg-color);
    margin-top: 3rem;
    border-radius: 2rem;
    max-height: 460px;
    width: 100%;
}
.swiper-slide{
    background-color: var(--primary-bg-color);
}
.swiper-button-next{
    color: var(--theme-color);
    font-weight: bolder;
}
.swiper-button-prev{
    color: var(--theme-color);
    font-weight: bolder;
}