* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main {
	padding: 1.5rem;
	height: 100vh;
}
section #show-date{
color: var(--primary-text-color);
}

.content {
	background-color: var(--secondary-bg-color);
	padding: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
	border-radius: 8px;
}
#calender-ico {
	font-size: clamp(0.9rem, 0.2rem + 4vw, 1.8rem);
	transform: translateY(-10px);
}
.text > * {
	margin-bottom: 0.4rem;
}
.card-mp {
	background-color: var(--secondary-bg-color);
	padding: 8px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
	border-radius: 12px;
	min-width: 200px;
	color: var(--primary-text-color);
}
.card-mp span {
	font-size: clamp(1rem, 0.22rem + 6vw, 2.2rem);
}

td button {
	padding: 0 2px;
}
td button span {
	padding: 4px;
}
.card {
	width: 40%;
	min-width: 400px;
	height: 42vh;
}
textarea {
	height: 30vh !important;
	resize: none;
}
.icon {
	transform: translateX(10px);
}
.check {
	cursor: pointer;
	position: relative;
	margin: auto;
	width: 20px;
	height: 20px;
	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0, 0, 0);
}

.check:before {
	content: "";
	position: absolute;
	top: -15px;
	left: -15px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: rgba(34, 50, 84, 0.03);
	opacity: 0;
	transition: opacity 0.2s ease;
}

.check svg {
	position: relative;
	z-index: 1;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #c8ccd4;
	stroke-width: 3;
	transform: translate3d(0, 0, 0);
	transition: all 0.2s ease;
}

.check svg path {
	stroke-dasharray: 60;
	stroke-dashoffset: 0;
}

.check svg polyline {
	stroke-dasharray: 22;
	stroke-dashoffset: 66;
}

.check:hover:before {
	opacity: 1;
}

.check:hover svg {
	stroke: var(--theme-color);
}

.cbx:checked + .check svg {
	stroke: var(--theme-color);
}

.cbx:checked + .check svg path {
	stroke-dashoffset: 60;
	transition: all 0.3s linear;
}

.cbx:checked + .check svg polyline {
	stroke-dashoffset: 42;
	transition: all 0.2s linear;
	transition-delay: 0.15s;
}

/* allPatients.ejs*/
