.navbar {
	background-color: var(--secondary-bg-color) !important;
	z-index: 50!important;
}
.navbar .image {
	width: 55px;
	height: 55px;
}
.navbar li a{
	color: var(--primary-text-color) !important;
}
.navbar .image img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}
.navbar form button {
	padding: 0;
	width: fit-content;
	height: fit-content;
}
.navbar form button i {
	padding: 6px;
}
.navbar-toggler{
	color: var(--primary-text-color)!important;
}
.navbar-toggler-icon{
	color: var(--primary-text-color)!important;
}
.buttons{
	display: flex;
	margin: 0;
	margin-right: 10px;
	gap: 8px;
}
@media (max-width: 995px) {
	.buttons{
		flex-direction: column;
		margin-bottom: 8px;
	}
}