.flex {
	display: flex;
}
.items-center {
	align-items: center;
}
.items-end {
	align-items: end;
}
.justify-between {
	justify-content: space-between;
}
.justify-center {
	justify-content: center;
}
.justify-around {
	justify-content: space-around;
}
.flex-end {
	justify-content: flex-end;
}
.text-xl {
	font-size: clamp(1.8rem, 7.5vw, 4.2rem);
}
.text-lg {
	font-size: clamp(1.4rem, 6vw, 2.6rem);
}
.text-md {
	font-size: clamp(1.19rem, 4.2vw, 1.6rem);
}
.text-basic {
	font-size: clamp(0.9rem, 3.5vw, 1.1rem);
}
.text-sm {
	font-size: clamp(0.7rem, 2.5vw, 0.8rem);
}
.text-xs {
	font-size: clamp(0.5rem, 2vw, 0.7rem);
}
.text-xs.opacity-6 {
	opacity: 0.6;
}
.flex-shrink {
	flex-shrink: 1;
}
.flex-grow {
	flex-grow: 1;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-col {
	flex-direction: column;
}
.w-full {
	width: 100%;
}
.h-full {
	height: 100%;
}
.h-screen {
	height: 100vh;
}
.realtive {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.top-0 {
	top: 0;
}
.left-0 {
	left: 0;
}
.inline-block {
	display: inline-block;
}
.hidden {
	display: none;
}
.z-0 {
	z-index: 0;
}
.z-10 {
	z-index: 10;
}
.z-20 {
	z-index: 20;
}
.z-30 {
	z-index: 30;
}
.z-40 {
	z-index: 40;
}
.z-100 {
	z-index: 100;
}
